* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.main {
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 114px;
}

h1 {
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

h2 {
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

a {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}

p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

button {
  width: 220px;
  height: 56px;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
}

/* --- HEADER --- */
header {
  height: auto;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

header h1 {
  max-width: 504px;
}

header p {
  max-width: 425px;
  margin-top: 32px;
}

header .greeting-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 115px;
}

header .greeting-wrap .greeting button {
  margin-top: 71px;
  margin-bottom: 190px;
}

header .greeting-wrap .greeting-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .greeting-wrap .greeting-img img {
  width: 100%;
  min-width: 393px;
}

nav,
.greeting-wrap,
.footer-wrap {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 114px;
}

/* --- MAIN --- */
/* - What We Do - */
.what-we-do {
  margin-top: 64px;
}

.what-we-do .media-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

.what-we-do .media-wrap .media {
  max-width: 359px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin: 0 10px;
}

.what-we-do .media-wrap .media .content-media {
  padding: 44px 32px;
}

.what-we-do .media-wrap .media .content-media .img {
  text-align: center;
}

.what-we-do .media-wrap .media .content-media h3 {
  margin-top: 50px;
}

.what-we-do .media-wrap .media .content-media p {
  margin-top: 15px;
}

.what-we-do .media-wrap .media .content-media a {
  display: inline-block;
  margin-top: 28px;
}

.what-we-do .media-wrap .media .content-media a::after {
  content: url(img/arrow.svg);
  padding-left: 24px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.what-we-do .media-wrap .media .content-media a:hover {
  text-decoration: none;
}

.what-we-do .media-wrap .media .content-media a:hover::after {
  padding-left: 35px;
}

/* - Finished Project - */
.finished-project {
  text-align: center;
}

.finished-project h2 {
  margin-top: 64px;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.finished-project p {
  margin-top: 32px;
  color: #222222;
}

.finished-project .finished-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 64px;
}

.finished-project .finished-grid .smart-home {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  position: relative;
}

.finished-project .finished-grid .smart-home h2 {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  right: 64px;
}

.finished-project .finished-grid .project__item {
  position: relative;
}

.finished-project .finished-grid .project__item h3 {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: left;
  padding: 32px;
  position: absolute;
}

.finished-project .finished-grid .project__img {
  width: 100%;
}

/* --- FOOTER --- */
footer {
  margin-top: 60px;
  background-image: url(img/footer.png);
  height: 657px;
}

footer h2 {
  max-width: 340px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: left;
}

footer p {
  max-width: 500px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
  padding-top: 32px;
}

footer hr {
  border: none;
  background-color: #FFFFFF;
  height: 1px;
  opacity: 0.4;
  margin-top: 96px;
}

footer img {
  margin-top: 92px;
}

footer .interested {
  padding-top: 91px;
}

footer .interested button {
  float: right;
  margin-top: -170px;
}

footer .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 32px;
}

footer .contact-wrap li {
  -ms-flex-preferred-size: 316px;
      flex-basis: 316px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding-left: 20px;
  margin-left: 20px;
}

footer .contact-wrap a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

/* --- CONTACTS --- */
.header-contacts {
  background-image: none;
}

.header-contacts .contact-us {
  background-image: url(img/contacts/header-bg.png);
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 50px;
}

.header-contacts .contact-us h1 {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  max-width: none;
  padding-top: 60px;
}

.header-contacts .contact-us p {
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  max-width: 780px;
}

.info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 112px;
  margin-top: 112px;
}

.info-wrap .contacts-info {
  max-width: 300px;
  margin-right: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info-wrap .contacts-info h3 {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 8px;
}

.info-wrap .contacts-info a {
  text-decoration: none;
  color: #1F3F68;
}

.info-wrap .contacts-info p {
  padding-top: 16px;
}

.info-wrap .contacts-info img {
  width: 100%;
}

.info-wrap .contacts-info .phone a::before {
  content: url(img/contacts/phone.svg);
  padding-right: 20px;
}

.info-wrap .contacts-info .online-service p:nth-child(2)::before {
  content: url(img/contacts/web.svg);
  padding-right: 20px;
}

.info-wrap .contacts-info .online-service p:nth-child(3)::before {
  content: url(img/contacts/mail.svg);
  padding-right: 20px;
}

.info-wrap .send-us-message {
  width: 540px;
  padding: 56px;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info-wrap .send-us-message h2 {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1F3F68;
  margin-bottom: 16px;
}

.info-wrap .send-us-message span {
  display: block;
  padding-top: 32px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
}

.info-wrap .send-us-message input,
.info-wrap .send-us-message textarea {
  outline: none;
  width: 100%;
  line-height: 30px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 21px 43px;
  font-size: 16px;
}

.info-wrap .send-us-message textarea {
  height: 144px;
  resize: none;
}

.info-wrap .send-us-message .submit {
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  opacity: 1;
  border: none;
  cursor: pointer;
  color: white;
  margin-top: 72px;
}

.footer-contacts {
  margin-top: 0px;
}

.map {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 112px;
}

/* --- MEDIA --- */
@media screen and (max-width: 870px) {
  header,
  .main {
    padding: 20px 35px;
  }
  nav,
  .greeting-wrap {
    padding: 0px;
  }
  header .greeting-wrap .greeting-img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: relative;
  }
  header .greeting-wrap .greeting-img img {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .header-contacts {
    padding: 0px;
  }
  .header-contacts nav {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    overflow: hidden;
  }
  nav,
  .greeting-wrap {
    padding: 0px;
    position: relative;
  }
  nav {
    padding-top: 20px;
  }
  .header-contacts {
    padding: 0px;
    height: auto;
  }
  .what-we-do .media-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 32px;
  }
  .what-we-do .media-wrap .media {
    margin: 16px auto;
  }
  .contact-wrap {
    margin-bottom: 0px;
  }
  .contact-wrap li {
    padding-bottom: 24px;
    margin-left: 20px;
  }
  .finished-project p {
    max-width: 520px;
    margin: 32px auto;
  }
  .finished-project h2 {
    margin-top: 127px;
  }
  .finished-project .finished-grid .smart-home h2 {
    margin-top: 0px;
    padding-top: 16px;
    padding-right: 16px;
  }
  footer {
    margin-top: 64px;
  }
  footer .footer-wrap {
    padding: 0 35px;
  }
  footer .footer-wrap h2 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  footer .footer-wrap p {
    max-width: 336px;
  }
  footer .footer-wrap img {
    margin-top: 64px;
  }
  footer .footer-wrap .interested {
    padding-top: 47px;
  }
  footer .footer-wrap .interested button {
    border-radius: 0px;
    width: 133.04px;
    height: 31.48px;
    margin-top: -100px;
  }
  .info-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-info {
    margin-bottom: 64px;
  }
  .map {
    width: 760px;
  }
}

@media screen and (max-width: 700px) {
  .greeting-img {
    display: none;
  }
}

@media screen and (max-width: 685px) {
  footer .footer-wrap .interested button {
    float: none;
    margin-top: 32px;
  }
  footer hr {
    margin-top: 32px;
  }
}

@media screen and (max-width: 414px) {
  nav,
  .greeting-wrap,
  .footer-wrap {
    padding: 0 16px;
  }
  nav {
    padding-top: 24px;
  }
  header {
    height: auto;
  }
  header h1 {
    text-align: center;
    font-size: 32px;
    line-height: 37px;
    max-width: 343px;
  }
  header p {
    max-width: 343px;
    margin-top: 12px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
  header .greeting-wrap {
    margin-top: 26px;
  }
  header .greeting button {
    margin-top: 22px;
    margin-bottom: 30px;
  }
  button {
    width: 108px;
    height: 27px;
    margin: 32px auto;
    display: block;
    font-size: 12px;
  }
  .finished-project {
    margin-top: 32px;
  }
  .finished-project h2 {
    margin-top: 0px;
    font-size: 24px;
    line-height: 28px;
  }
  .finished-project .finished-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.57fr 1fr 1fr;
        grid-template-rows: 0.57fr 1fr 1fr;
  }
  .finished-project .finished-grid .project__item {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .finished-project .finished-grid .project__item h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .finished-project .finished-grid .smart-home h2 {
    font-size: 16px;
    line-height: 19px;
    right: 30px;
  }
  .what-we-do h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .interested p,
  .rights {
    text-align: center;
  }
  .rights {
    padding-top: 0px;
  }
  footer {
    height: 700px;
  }
  footer img {
    margin-top: 0px;
  }
  footer .footer-wrap .interested button {
    float: none;
  }
  .info-wrap {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .info-wrap .contacts-info {
    margin-right: 0px;
  }
  .info-wrap .send-us-message {
    max-width: 342px;
    padding: 35px;
  }
  .info-wrap .send-us-message input,
  .info-wrap .send-us-message textarea {
    width: 271px;
    padding: 8px 18px;
  }
  .info-wrap .send-us-message textarea {
    height: 92px;
  }
  .info-wrap .send-us-message .submit {
    margin-top: 46px;
  }
  .map {
    margin-bottom: 32px;
  }
  .header-contacts .contact-us {
    height: 300px;
  }
  .header-contacts .contact-us p {
    font-size: 16px;
    padding: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */